---
---
@import "minima";

/* Wrap code to avoid horizontal scrollbars */
pre, code {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
}
pre {
  overflow-x: hidden;
  scrollbar-width: none;
}
pre::-webkit-scrollbar { display: none; }

/* Markdown body GitHub style */
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body pre {
  background-color: #f6f8fa;
  padding: 1em;
  border-radius: 6px;
}

/* Import Rouge GitHub CSS */
@import "rouge-github";
